@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 70px)); /* Adjust margin value */
  }
}
.project-heading {
  text-align: center;
  padding: 6rem 0 2rem 0;
}
.Logo {
  overflow: hidden;
  padding: 60px 0px;
}

.logo-slide {
  display: flex;
  animation: 8s slide infinite linear;
}

.logo-slide img {
  height: 150px;
  margin-right: 70px;
}
