.myimg {
  height: 300px;
  width: 500px;
  margin-left: 100px;
}
.project-heading {
  text-align: center;
  padding: 6rem 0 2rem 0;
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 40px 0px;
}
.content {
  margin-left: 40px;
  margin-right: 10px;
  padding-top: 100px;
}
h3 {
  padding: 40px 0px;
}
.hobbies {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
