.project-heading {
  text-align: center;
  padding: 6rem 0 2rem 0;
}

.project-container {
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping to the next line */
  display: flex; /* Make it a flex container */
  padding-bottom: 5rem;
}

.project-card {
  background: rgba(12, 12, 12, 0.863);
  width: 450px;
  padding: 1rem; /* Adjust the padding */
  margin: 4rem; /* Add margin for spacing between cards */
  border-radius: 10px; /* Add border-radius for rounded corners */
}

.project-card img {
  width: 400px;
  height: 300px; /* Set a maximum height for the images */
  object-fit: cover;
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.project-card img:hover {
  cursor: pointer;
  transition: all 0.8s;
  cursor: pointer;
  transform: scale(1.1);
}

.project-title {
  color: white;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
.project-details {
  padding-bottom: 0.5rem;
  font-size: 1rem; /* Increase font size for the details */
  color: #ccc;
  white-space: normal;
}

.pro-btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.pro-btns .btn {
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

@media screen and (max-width: 740px) {
  .project-container {
    max-width: 90%;
    margin: auto;

    grid-template-columns: 1fr;
  }
}
